<nav class="mobile-nav">
    <ul class="mobile-menu">
        <li class="active">
            <a href="/">Home</a>

          
        </li>
        <li>
            <a href="/shop" class="sf-with-ul">Shop</a>

           
        </li>
       
       
        
    </ul>
</nav><!-- End .mobile-nav -->